<!DOCTYPE html>
<html ng-app="george">
	<head>
		<title>Graph</title>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
		<script src="lib/jquery-1.11.3.min.js"></script>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-ui-router.min.js"></script>
		<script src="lib/d3.min.js"></script>
		<script src="src/app.js"></script>
		<script src="src/directives.js"></script>
		<script src="src/services.js"></script>
		<script src="src/controllers.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">George</a>
						</div>
					</div>
				</nav>
			</div>
			<force-layout-graph></force-layout-graph>
		</div>
	</body>
</html>